.show{
    .movie_content{
        min-width: 100%;
    }
    .raiting{
        .show_movie_percent{
            margin-left: 50px;
        }
    }
    .date{
        .date_content{
            margin-left: 20px;
        }     
    }
    .genres{
        .genres_content{
            margin-left: 70px;
        }
    }
    .overview{
        .overview_content{
            margin-left: 40px;
        }
    }
    .casts{
        .casts_content{
            margin-left: 78px;
        }
    }
    
    .recomendations, .similar{
        cursor: pointer;
    }
    .movie_content{
        width: 100%;
        .movie_buttons{
            width: 100%;
            #play_trailer, #play_movie{
                border: none;
                outline:none;
            }
            #play_trailer{
                background-color: $second_blue;
            }
        }
        
    }
}

@media (max-width: 1024px) { 
    .recomend{
        display: none;
    }

    .collection_wrapper .collection_slide{
        // padding-left: 10px;
        padding-right: 20px;
    }

    .recomend_mobile{
        display: block;
    }
    .movie_content{
        width: 100%;
        .movie_buttons{
            width: 100%;
            #play_trailer, #play_movie{
                border: none;
                outline:none;
                display: block;
                max-width: 50%;
                span{
                    font-size: 0.75rem;
                }
            }
            #play_trailer{
                background-color: $second_blue;
            }
        }
        
    }
    
}

@media (min-width: 1024px) { 

    .recomend_mobile{
        display: none;
    }
    
    .recomend{
        display: block;
    }

    
}
