.show{
    .movie_content{
        min-width: 100%;
    }
    .raiting{
        .show_movie_percent{
            margin-left: 50px;
        }
    }
    .date{
        .date_content{
            margin-left: 20px;
        }     
    }
    .genres{
        .genres_content{
            margin-left: 70px;
        }
    }
    .overview{
        .overview_content{
            margin-left: 40px;
        }
    }
    .casts{
        .casts_content{
            margin-left: 78px;
        }
    }
}

.recomendations, .similar{
    cursor: pointer;
}

@media (max-width: 1024px) { 
    .recomend{
        display: none;
    }

    .recomend_mobile{
        display: block;
    }
}

@media (min-width: 1024px) { 

    .recomend_mobile{
        display: none;
    }
    
    .recomend{
        display: block;
    }

    
}
